.rbc-event {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;

  font-size: 3.9vw !important;
  font-weight: bold;
  padding: 5px !important;
  width: 100%;
  height: 90px;
  border-radius: 25px !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.rbc-header {
  margin-left: 2.5px;
  margin-right: 2.5px;
  pointer-events: none;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border: none !important;
  border-bottom: none !important;
  background-color: #4A9ECB;
  color: #fff;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark .rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #525255;
}

.rbc-day-bg {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.rbc-time-header-content {
  min-width: 900px;
  height: 100vh;
  margin-top: 15px;
  border-left: none !important;
  display: flex;
  column-gap: 5px !important;
}

.rbc-event-label {
  display: none;
}

.rbc-event-content {
  max-width: 100%;
  display: block;
  word-break: break-word;
  text-align: center;
}

.rbc-today {
  background-color: #74c7f3;
  border-radius: 25px;
}

.rbc-allday-cell {
  margin-top: 20px;
}

.rbc-label {
  display: none;
}

.rbc-time-column {
  min-width: 90px !important;
}

.rbc-time-content {
  display: none;
}

.rbc-time-view {
  overflow-x: auto;
  border: none !important;
}