.rbc-calendar {
  height: 100%;
}

.rbc-month-view {
  border: none !important;
  gap: 5px;
  padding: 7px;
}

.rbc-month-row {
  border-top: none !important;
}

.rbc-row-bg {
  border: none;
}

.rbc-off-range-bg {
  background-color: transparent !important;
}

.rbc-button-link {
  margin-right: 30%;
  font-weight: 500;
  margin-top: 4px;
}

.rbc-event {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;

  font-size: 3.9vw !important;
  font-weight: 500;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  width: 95%;
  height: 10px;
  border: none !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rbc-header {
  pointer-events: none;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none !important;
  border-bottom: none !important;
  background-color: transparent;
  color: #fff;
}

.dark .rbc-day-bg+.rbc-day-bg {
  border: none;
}

.rbc-day-bg {
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  display: flex !important;
  flex-direction: row !important;
}

.rbc-time-header-content {
  min-width: 900px;
  height: 100vh;
  margin-top: 15px;
  border-left: none !important;
  display: flex;
  column-gap: 5px !important;
}

.rbc-event-label {
  display: none;
}

.rbc-event-content {
  max-width: 100%;
  display: block;
  word-break: break-word;
  text-align: center;
}

.rbc-today {
  background-color: #74c7f3;
}

.rbc-allday-cell {
  margin-top: 20px;
}

.rbc-label {
  display: none;
}

.rbc-time-column {
  min-width: 90px !important;
}

.rbc-time-content {
  display: none;
}

.rbc-time-view {
  overflow-x: auto;
  border: none !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.dark {
  background-color: #3c3c3c;
}