@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-background-image {
  background: url('../public/static/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-background-image {
  background: url('../public/static/registration.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.credentials {
  -webkit-mask-image: linear-gradient(180deg, rgba(54, 54, 56, 0) 0%, #363638 20%);
  mask-image: linear-gradient(180deg, rgba(54, 54, 56, 0) 0%, #363638 20%);
}